{% extends "layout.html.twig" %}

{% block title %}{{ alias|capitalize }} integration - {{ parent() }}{% endblock %}

{% block content %}
    {% set token = csrf_token('token') %}
    <div class="row">
        <div class="col-xs-12 package">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">
                        {{ alias|capitalize }} integration
                    </h2>

                    {% if errorMsg %}
                        <div class="alert alert-danger">
                            <p>Try to regenerate access token/ reinstall integration if you get http access error</p>
                            <p>{{ errorMsg }}</p>
                        </div>
                    {% endif %}

                    {% include 'integration/info_app.html.twig' %}

                    <div class="form-group">
                        <label class="link-gray">Redirect Urls</label>
                        <textarea class="form-control" readonly rows="4" style="max-width: 470px">{{ config.redirectUrls|join("\n") }}</textarea>
                    </div>

                    <div class="form-group">
                        <label class="link-gray">Hook URL</label>
                        <textarea class="form-control" readonly rows="4" style="max-width: 470px">{{ config.hookUrl }}</textarea>
                    </div>

                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-xs">
                        <a class="settings action" href="{{ path('integration_settings', {'alias': alias, 'id': oauth.id}) }}">
                            <button type="button" class="btn btn-default">Settings</button>
                        </a>
                    </div>

                    <div class="btn-group btn-group-xs">
                        <a class="settings action ajax-url"
                           data-url="{{ path('integration_flush_cache', {'id': oauth.id}) }}"
                           href="#"
                        >
                            <button type="button" class="btn btn-warning">Clear Cache</button>
                        </a>
                    </div>

                    {% if canEdit %}
                    <div class="btn-group btn-group-xs">
                        <a class="settings action onclick-confirm" data-msg="Please make sure you are using the same account.
If a different account is used, you may lose access to the current organization and the webhooks will not be removed."
                           href="{{ path('integration_regenerate', {'alias': alias, 'id': oauth.id, '_token': token}) }}">
                            <button type="button" class="btn btn-danger">Regenerate Token</button>
                        </a>
                    </div>
                    {% endif %}

                    {% if canDelete %}
                    <div class="btn-group btn-group-xs">
                        <form class="delete onsubmit-confirm action" action="{{ path('integration_delete', {'alias': alias, 'id': oauth.id}) }}" method="POST" >
                            {{ csrf_token_input('delete') }}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    {% endif %}

                </div>
            </div>


            {% if orgs|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <h2 style="text-align: center">Your Organizations</h2>
                    <p>
                        To use synchronizations, you must select which organizations should be allowed to select packages.
                        If you select Own profile, repositories from the user's profile or to which he has access will be available.
                    </p>

                    <p>
                        Packeton can detect when created a new repository in your version control systems like GitHub and automatically create composer
                        package for it.
                        Notice: You need to add an organization webhook in case it wasn't automatically created due to a permission error.
                    </p>
                    <br>
                    {% for org in orgs %}
                        {% set isConn = oauth.isConnected(org['identifier']) %}
                        {% set webhookInfo = oauth.getWebhookInfo(org['identifier']) %}
                        <div style="padding-bottom: 25px; max-width: 440px; display: flex; justify-content: space-between">
                            <div>
                                {% if org['logo'] is defined and org['logo'] %}
                                    <img src="{{ org['logo'] }}" height="40" alt="logo">
                                {% else %}
                                    <img src="https://www.gravatar.com/avatar/{{ org['name']|gravatar_hash }}?s=48&amp;d=identicon" height="40" alt="logo">
                                {% endif %}
                                <b>{{ org['name'] }}</b>

                                {% if isConn and webhookInfo %}
                                    {% if webhookInfo['status'] ?? true %}
                                        <span class="badge" style="background-color: #30831b" data-toggle="tooltip" title="{{ webhookInfo['error'] ?? 'Webhooks enabled' }}">Hook enabled</span>
                                    {% else %}
                                        <span class="badge" style="background-color: #9f0404" data-toggle="tooltip" title="{{ webhookInfo['error'] ?? '' }}">Hook error</span>
                                    {% endif %}
                                {% endif %}

                                <p class="link-gray" style="font-size: 0.8em; margin: 0">
                                    {% if org['identifier'] == '@self' %}
                                        {{ 'integration.self_help'|trans }}
                                    {% endif %}

                                    {% if org['description'] is defined %}
                                        {{ org['description'] }}
                                    {% endif %}

                                    {% if webhookInfo['status_message'] ?? null %}
                                        <br>{{ webhookInfo['status_message'] }}
                                    {% endif %}
                                </p>
                            </div>

                            <a class="settings action connect" href="{{ path('integration_connect_org', {'alias': alias, 'id': oauth.id}) }}"
                               data-token="{{ token }}" data-org="{{ org['identifier'] }}"
                            >
                                {% set bAttr = canEdit ? '' : ' disabled title="Only owner can connect to Account" ' %}
                                {% if isConn %}
                                    <button type="button" {{ bAttr|raw }} class="btn btn-danger" style="padding: 5px 12px">Disconnect</button>
                                {% else %}
                                    <button type="button" {{ bAttr|raw }} class="btn btn-primary" style="padding: 5px 12px">Connect</button>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ asset('packeton/js/integration.js')}}"></script>
{% endblock %}
