<p class="link-gray">
    Owner: {{ oauth.owner }} <br>
    Created: {{ oauth.createdAt|date('M d, Y') }} <br>
    Client ID: <code>{{ config.clientId }}</code> <br>

    App Caps: {{ config.caps|map(value => "<span class='role-name'>#{value}</span>")|join(' ')|raw }} <br>
    {% if config.registration %}
        Reg Roles: {{ config.roles|map(value => "<span class='role-name'>#{value}</span>")|join(' ')|raw }} <br>
    {% endif %}
</p>
