<!-- Nav tabs -->
{% set uuid = random() %}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#request-{{ uuid }}" aria-controls="request-{{ uuid }}" role="tab" data-toggle="tab">Request</a>
    </li>
    <li role="presentation">
        <a href="#response-{{ uuid }}" aria-controls="response-{{ uuid }}" role="tab" data-toggle="tab">
            Response
            {% set style = hook.success ? 'background-color: #28a745;' : 'background-color: #ba140d;' %}
            {% set style = hook.statusCode == 0 ? '' : style %}
            <span class="badge" style="{{ style }}">{{ hook.statusCode ? hook.statusCode : 'na'}} </span>
        </a>
    </li>
    <li style="float: right; margin: 8px; color: #68686a">
        <i class="far fa-clock" style="padding-right: 12px"></i>
        <span style="font-size: 0.87em"> Completed in {{ hook.totalTime ? (1000*hook.totalTime)|number_format(0) ~ ' ms.' : 'na' }}</span>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="background: #fff; border: 1px solid #ddd; border-top-color: transparent;">
    <div role="tabpanel" class="tab-pane active" id="request-{{ uuid }}" style="padding: 5px">
        <b>Headers</b>
        <pre class="github">
<strong>Request URL:</strong> {{ hook.request.url }}
<strong>Request method:</strong> {{ hook.request.method }}
{% for key, header in hook.requestHeaders %}
<strong>{{ key }}</strong> {{ header }}
{% endfor -%}
        </pre>

        <b>Payload</b><pre class="github">{% apply spaceless %}{{ hook.request.body }}{% endapply %}</pre>
    </div>

    <div role="tabpanel" class="tab-pane" id="response-{{ uuid }}" style="padding: 5px">
        <b>Headers</b>
        <pre class="github">
{%- for key, header in hook.headers %}
<strong>{{ key }}</strong> {{ header }}
{% endfor -%}
        </pre>
        <b>Body</b><pre class="github">{% apply spaceless %}{{ hook.responseBody }}{% endapply %}</pre>
    </div>
</div>
