{% extends "PackagistWebBundle::layout.html.twig" %}

{% set title  = entity.id ? 'Update ' ~ entity.name : 'Create a new webhook' %}
{% block title %}{{ title }}{% endblock %}
{% block scripts %}
    <script src="{{ asset('bundles/packagistweb/js/hookDelivery.js')}}"></script>
{% endblock %}

{% block content %}
    <h2 class="title">{{ title }}</h2>
    <section class="row">
        {{ form_start(form, { attr: { class: 'col-md-6' } }) }}
        {% set formBegin %}
            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            {{ form_row(form.method) }}
        {% endset %}

        {% set formEnd %}
            {{ form_row(form.payload) }}
            {{ form_row(form.active) }}
            {{ form_row(form.events) }}
        {% endset %}

        {{ formBegin }}
        <div class="form-group">
            <a data-toggle="collapse" href="#moreOptions" aria-expanded="false" aria-controls="moreOptions">
                More options
            </a>
        </div>

        <div class="collapse" id="moreOptions">
            {{ form_rest(form) }}
        </div>
        {{ formEnd }}

        <input class="btn btn-block btn-success btn-lg" type="submit" value="Add webhook" />
        {{ form_end(form) }}
        <div class="col-md-6">
        </div>
    </section>

    {% if jobs is defined and jobs|length > 0 %}
    <section class="row">
        <div class="col-md-8" style="padding-top: 35px">
            <h3 class="title" style="font-size: 1.8em">Recent Deliveries</h3>
            <div id="loader_svg_template" style="display: none">
                <div style="text-align: center; padding: 12px">
                    {% include '@PackagistWeb/Webhook/loader_svg.html.twig' %}
                </div>
            </div>
            {% for job in jobs %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if job.status == 'completed' %}
                            <i class="fa fa-check" style="color: #28a745" title="Success"></i>
                        {% else %}
                            <i class="fa fa-times" style="color: #ba140d" title="Failed"></i>
                        {% endif %}
                        <span class="hook-delivery-guid" data-job-url="{{ path('webhook_job_action', {'id': job.id}) }}"
                           data-toggle="collapse"
                           aria-expanded="true"
                           href="#collapse-{{ job.id }}"
                           aria-controls="collapse-{{ job.id }}"
                        >
                            <i class="fas fa-cube"></i> {{ job.id }}
                        </span>
                        <span style="float: right;font-size: 0.85em; color: #7b7b7d">{{ job.completedAt|date('Y-m-d H:i:s') ~ ' UTC' }}</span>
                    </div>
                    <div class="hook-delivery-content collapse" id="collapse-{{ job.id }}">
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    {% endif %}

{% endblock %}
