<h2 class="title">
    {% if proxy.logo %}
        <img height="40" src="{{ proxy.logo }}" alt="{{ proxy.url }}">
    {% endif %}
    {{ proxy.alias }}
    <span class="role-name" style="font-size: 0.8em">{{ proxy.url }}</span>
</h2>
<p class="link-gray">
    Last updated: {{ proxy.getStats('last_sync', 'N/A') }}
</p>
<p class="link-gray">
    Repo Capabilities: {{ proxy.capabilities|map(value => "<span class='role-name'>#{value}</span>")|join(' ')|raw }} <br>
    Disk usage: {{ proxy.getStats('used_storage', 'N/A') }} <br>
    Lazy sync: {{ proxy.lazy ? 'Yes' : 'No' }} <br>
</p>
