{% extends "layout.html.twig" %}

{% block title %}{{ proxy.alias }} - Settings Proxy - {{ parent() }}{% endblock %}

{% block content %}
    <h2 class="title">
        {% include 'proxies/info_caps.html.twig' %}
    </h2>
    <hr>

    <style>
        #settings-form label {
            margin-bottom: 0;
        }
        #settings-form input[type=radio] {
            margin: 0
        }
        .form-group > label {
            font-weight: bold;
        }
    </style>
    <section class="row">
        {{ form_start(form, { attr: { class: 'col-sm-6', id: 'settings-form' } }) }}
        {{ form_widget(form) }}

        <a href="{{ path('proxy_view', {'alias': proxy.alias}) }}"> << Go Back</a>
        <input class="btn btn-block btn-default btn-lg" type="submit" value="Update Settings" />
        {{ form_end(form) }}

        <div class="col-sm-6">
            <p>New releases update will be frozen if auto sync is disabled. Metadata frozen as permanent snapshot</p>

            <p>If strict mode is enabled, you will be able to use those packages that you have manually approved from the user interface.</p>

            <p>
                You can disable Composer v2 API to avoid too many 304 requests.
                Instead, the Packeton takes a snapshot of all packages and uses <code>includes</code> directive.
                This may be useful if missing HTTPS 2 or your network is slower.
            </p>

        </div>
    </section>
{% endblock %}
