<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Packeton{% endblock %}</title>

        {% block meta %}
            <meta name="description" content="{% block description %}The PHP Private Repository{% endblock %}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% endblock %}

        {% block favicon %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

        {% block default_styles %}
            <link rel="stylesheet" href="{{ asset('libs/bootstrap-3.3.5/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('libs/bootstrap-3.3.5/css/bootstrap-theme.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('packeton/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/humane/jackedup.css') }}" />
            <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
        {% block docker_head %}{% endblock %}

        {% block head_scripts %}
            <script src="{{ asset('packeton/js/init.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block head_feeds %}
            <link rel="alternate" type="application/rss+xml" title="Newly Submitted Packages - Packeton" href="{{ url('feed_packages', {_format: 'rss'}) }}" />
            <link rel="alternate" type="application/rss+xml" title="New Releases - Packeton" href="{{ url('feed_releases', {_format: 'rss'}) }}" />
        {% endblock %}
        {% block head_additions %}{% endblock %}
    </head>

    <body>
    {% set isAdmin = is_granted('ROLE_ADMIN') %}
    <section class="wrap">
        <header class="navbar-wrapper navbar-fixed-top">
            <nav class="container">
                {% block navbar_base_section %}
                <div class="navbar" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{{ 'menu.togglenav'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {% set subReposData = get_sub_repos_data(isAdmin ? null : app.user) %}
                        <h1 class="navbar-brand"><a href="{{ path('home') }}">{{ 'brandname'|trans }}</a>
                            {% if subReposData is empty %}<em class="hidden-sm hidden-xs">{{ 'navclaim'|trans }}</em>{% endif %}
                        </h1>

                        {% if subReposData is not empty and app.user %}
                            <div class="btn-group navbar-brand-dropdown">
                                <a type="button" class="dropdown-toggle" data-toggle="dropdown" title="Change current sub-repository">
                                    {{ subReposData['current']|capitalize }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('subrepository_switch_root') }}">Switch sub-repository</a></li>
                                    <li role="separator" class="divider"></li>

                                    {% for repo in subReposData['repos'] %}
                                        <li><a href="{{ path('subrepository_switch', {'id': repo['id']}) }}">{{ repo['name']|capitalize }}</a></li>
                                    {% endfor %}

                                    {% if isAdmin %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('subrepository_create') }}" style="font-weight: 900"><i class="fa fa-plus-square-o"></i>Create sub-repository</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                        {%- if is_granted('ROLE_MAINTAINER') %}
                            <li>
                                <a href="{{ path('browse') }}">{{ 'menu.browse'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('submit') }}">{{ 'menu.submit'|trans }}</a>
                            </li>
                        {%- endif %}
                        {%- if isAdmin %}
                            <li class="nav-user">
                                <section>
                                    Settings
                                    <section class="nav-user-menu nav-admin-menu">
                                        {{ knp_menu_render('admin_menu', {'allow_safe_labels': true}) }}
                                    </section>
                                </section>
                            </li>
                        {%- endif %}

                        {%- if app.user %}
                            <li class="nav-user">
                                <section>
                                    <a href="{{ path('profile_show') }}">{{ app.user.userIdentifier }}</a>

                                    <section class="nav-user-menu">
                                        {{ knp_menu_render('user_menu', {'allow_safe_labels': true}) }}
                                    </section>
                                </section>
                            </li>
                        {%- else %}
                            <li class="nav-user">
                                <section class="nav-user-signin">
                                    <a href="{{ path('login') }}">{{ 'menu.sign_in'|trans }}</a>
                                    <section class="signin-box">
                                        <form action="{{ path('login') }}" method="POST">
                                            <div class="input-group">
                                                <input class="form-control" type="text" id="_username" name="_username" placeholder="{{ 'security.login.username'|trans }}">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            </div>
                                            <div class="input-group">
                                                <input class="form-control" type="password" id="_password" name="_password" placeholder="{{ 'security.login.password'|trans }}">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            </div>

                                            <div class="checkbox">
                                                <label for="_remember_me">
                                                    <input type="checkbox" id="_remember_me" name="_remember_me" value="on" checked="checked" />
                                                    {{- 'security.login.remember_me'|trans }}
                                                </label>
                                            </div>

                                            <div class="signin-box-buttons">
                                                <button type="submit" class="btn btn-success" id="_submit2" name="_submit">{{ 'security.login.submit'|trans }}</button>
                                            </div>
                                        </form>
                                    </section>
                                </section>
                            </li>
                        {%- endif %}
                        </ul>
                    </div>
                </div>
                {% endblock %}
            </nav>
        </header>


        {% block search_main %}
        <section class="wrapper wrapper-search">
            {% set showSearchDesc = showSearchDesc|default('show') %}
            <div class="container {% if showSearchDesc == 'show' %}with-description{% endif %}">
                {{ render(controller('Packeton\\Controller\\WebController::searchFormAction', { req: app.request })) }}
                {%- if showSearchDesc == 'show' %}
                    <div class="row">
                        <div class="col-sm-9 hidden-xs">
                            {% block logo_small_default %}
                                <a href="{{ path('home') }}">
                                    <img src="{{ asset('packeton/img/logo-small.png') }}" class="logo">
                                </a>
                                <p>{{ 'search.claim_html'|trans|raw }}</p>
                            {% endblock %}
                        </div>
                    </div>
                {%- endif %}
            </div>
        </section>
        {% endblock %}

        {% block flashMessages %}
            {%- if app.session.flashbag.peekAll()|length > 0 %}
            <section class="wrapper wrapper-white">
                <div class="container flash-container">
                {%- for type, flashMessages in app.session.flashbag.all() %}
                    {%- for flashMessage in flashMessages %}
                        {%- if 'fos_user_' in type %}
                            <div class="alert alert-{{ type|replace({'fos_user_': ''}) }}">
                                <p>{{ flashMessage|trans }}</p>
                            </div>
                        {%- else %}
                            <div class="alert alert-{{ type }}">
                                <p>{{ flashMessage|trans }}</p>
                            </div>
                        {%- endif %}
                    {%- endfor %}
                {%- endfor %}
                </div>
            </section>
            {%- endif %}
        {% endblock %}

        {% block content_header %}{% endblock %}

        <section class="wrapper">
            <section class="container content" role="main">
                {% block search_results %}
                    <div id="search-container" class="hidden">
                        <div class="row">
                            <div class="search-list col-md-9"></div>

                            <div class="search-facets col-md-3">
                                <div class="search-facets-active-filters"></div>
                                <div class="search-facets-type"></div>
                                <div class="search-facets-tags"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div id="pagination-container">
                                    <div class="pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block content %}{% endblock %}
            </section>
        </section>
    </section>

    {% block footer_base %}
        <footer class="wrapper-footer">
            <nav class="container">
                <div class="row">
                    <ul class="social col-xs-7 col-sm-4 col-md-2 pull-right">
                        {% block footer_contact %}
                            <li><a href="https://github.com/vtsykun/packeton" title="{{ 'menu.github'|trans }}" style="text-decoration: none">
                                <div>
                                    <span class="fa fa-github"></span>
                                    <span style="font-size: 12px; vertical-align: middle">Report a bug</span>
                                </div>
                            </a></li>
                        {% endblock %}
                    </ul>

                    {%- if is_granted('ROLE_ADMIN') %}
                        <ul class="col-xs-4 col-md-2">
                            <li><a href="{{ path('about') }}">{{ 'menu.about_packagist'|trans }}</a></li>
                            <li><a href="{{ path('feeds') }}" rel="nofollow">{{ 'menu.rss_feeds'|trans }}</a></li>
                        </ul>

                        <div class="clearfix visible-xs-block"></div>

                        <ul class="col-xs-3 col-md-2">
                            <li><a href="{{ path('stats') }}" rel="nofollow">{{ 'menu.stats'|trans }}</a></li>
                            <li><a href="{{ path('browse') }}">{{ 'menu.browse_packages'|trans }}</a></li>
                        </ul>

                        <div class="clearfix visible-xs-block"></div>

                        <ul class="col-xs-3 col-md-2">
                            <li><a href="{{ path('api_doc') }}">{{ 'menu.api_doc'|trans }}</a></li>
                        </ul>
                    {%- elseif is_granted('ROLE_MAINTAINER') %}
                        <ul class="col-xs-4 col-md-2">
                            <li><a href="{{ path('about') }}">{{ 'menu.about_packagist'|trans }}</a></li>
                            <li><a href="{{ path('api_doc') }}" rel="nofollow">{{ 'menu.api_doc'|trans }}</a></li>
                        </ul>
                    {% endif %}
                    {% block docker_footer_info %}{% endblock %}

                </div>
                <div class="row">
                    <p class="toran col-xs-12"><br></p>
                </div>
            </nav>
        </footer>
    {% endblock %}

    <script src="{{ asset('libs/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('libs/humane-3.2.2.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap-3.3.5/js/bootstrap.min.js')}}"></script>

    {% block scripts %}{% endblock %}
    {% block docker_scripts %}{% endblock %}

    <script src="{{ asset('packeton/js/layout.js') }}"></script>

    <script nonce="{{ csp_nonce('script') }}">
        if (window._deferExec !== undefined) {
            window._deferExec();
        }
    </script>

    </body>
</html>
