{% extends "user/layout.html.twig" %}

{% block user_content %}
    {% if not app.user %}
        <div class="col-xs-12">
            <h2 class="title">
                Sign in
            </h2>
        </div>
        <div class="col-md-6">
            {% if error is defined and error is not empty %}
                <div class="alert alert-warning">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('login') }}" method="POST">
                <div class="form-group clearfix">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="input-group clearfix">
                        <input class="form-control" type="text" id="username" name="_username">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <div class="input-group clearfix">
                        <input class="form-control" type="password" id="password" name="_password">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>

                <div class="checkbox">
                    <a class="pull-right" href="{{ path('request_pwd_reset') }}">Forgot password?</a>

                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
                        {{- 'security.login.remember_me'|trans }}
                    </label>
                </div>
                <input class="btn btn-block btn-success btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
            <hr>
        </div>
    {% endif %}
{% endblock %}
